include README
include COPYING
include LICENSE
include AUTHORS
recursive-include mom *.py *.c *.pyx *.pyd
prune mom/tests
include docs/*.txt
include docs/*.xml
include docs/Makefile
include docs/make.bat
recursive-include docs/source *
